<div class="about-section">	
	<div class="container">
		<div class="about-section-info">
			<h1 class="about-headline">About us</h1>
			<p>
				Post-ironic authentic kogi, hoodie organic pop-up you probably haven't heard of them skateboard chambray. Brunch keffiyeh before they sold out health goth swag. Semiotics tofu food truck, roof party banjo locavore letterpress whatever disrupt bespoke synth cronut sartorial mlkshk. Skateboard tofu lumbersexual meggings, ethical sustainable banh mi cred small batch Williamsburg Echo Park. Williamsburg literally disrupt 90's banjo cronut. Street art craft beer four loko polaroid 90's artisan. Wolf next level tattooed, sriracha chambray health goth gastropub jean shorts PBR small batch migas.
			</p>
		</div>
	</div>
</div>

<div class="promo-video">
	<div class="container">
		<div class="col-md-12">
			<iframe width="560" height="315" src="//www.youtube.com/embed/uDikWvEPpLg" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>
